<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/style.css">
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>Contact us</h1>
    <p>contact the coolest cats on the web right here</p>
    <!-- <p><%= qs.dept %></p> -->

    <p>thanks for getting in touch</p>
    <p>you contacted <%= data.who %> in the <%=data.department %> department.</p>
    <p>we will send reply at <%= data.email %></p>
    <!-- <form method="POST" action="/contact" id="contact-form">
        <label for="who">who do you want to contact?</label>
        <input type="text" name="who" value="<%= qs.person %>">
        <label for="department">which department?</label>
        <input type="text" name="department" value="<%= qs.dept %>">
        <label for="email">your email</label>
        <input type="email" name="email">
        <input type="submit" value="submit">
    </form> -->
</body>
</html>